/* pages/index/rules-panel/rules-panel.wxss */
.rules-area {
  display: flex;
  flex-direction: column;
  // margin: 32rpx;
  padding: 16rpx;
  border-radius: 16rpx;
}
.good {
  border: 1px solid lightgrey;
  .rules-area-point {
    color: rgb(36, 168, 36);
    padding-left: 16rpx;
  }
}
.bad {
  border: 1px solid lightgrey;
  .rules-area-point {
    color: rgb(228, 62, 50);
    padding-left: 16rpx;
  }
}
